{% extends "base.html" %} {% block content %} {% load static %}
<form action="" method="POST" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
  {% csrf_token %}
  <table >
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" style="margin: auto"/>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Kegiatan</th>
      <th scope="col">Kategori</th>
      <th scope="col">Tempat</th>
      <th scope="col">Jam</th>
      <th scope="col">Tanggal</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for kegiatan in jadwal %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ kegiatan.kegiatan }}</td>
      <td>{{ kegiatan.kategori }}</td>
      <td>{{ kegiatan.tempat }}</td>
      <td>{{ kegiatan.jam }}</td>
      <td>{{ kegiatan.tanggal }}</td>
      <td><a href="{% url 'jadwal:delete' kegiatan.id %}">Hapus</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

