/* Prefixes */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
}

/* Utility Classes */

.bg-gray {
  background: #fafafa;
}

.bg-blue {
  background: #2d4059 !important;
}

.red-font {
  color: #ff0000;
}

.white-font {
  color: #fff;
}

/* Navbar */

.navbar-brand {
  font-family: "Gabriela", serif;
}

/* Header */

.header-flex-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.header-image-wrapper {
  padding-top: 2rem;
  margin-left: 4rem;
  width: 200%;
}

.header-image-wrapper img {
  width: 100%;
}

.header-flex-wrapper .text {
  text-align: justify;
}

.header-flex-wrapper .text h1 {
  font-size: 4rem;
  text-align: left;
}

.header-flex-wrapper .text .subtitle {
  font-size: 0.8rem;
  color: #888;
}

/* Section Title */

.lead-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* Red Line After Section Title */

.red-line {
  height: 3px;
  background: #ea5455;
  width: 160px;
}

/* Section: Proyek */

.proyek {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.proyek:last-child {
  margin-bottom: 0;
}

.proyek-image-wrapper {
  flex: 300px;
  width: 300px;
  height: 300px;
}

.proyek-image-wrapper img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px 0px 50px;
}

.proyek-text-wrapper {
  flex: calc(100% - 300px);
  background: #f8cc65;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  margin: 1rem 0 1rem 1rem !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 50px 50px 0px;
  padding: 1rem 2rem;
}

.proyek-text-wrapper h1 {
  font-size: 2rem;
}

.button-website {
  border: 3px #ea5455 solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ea5455;
  font-weight: 900;
  transition: all 0.2s ease;
}

.button-website:hover {
  color: #fff;
  background: #ea5455;
  text-decoration: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/* Section: Kontak Saya */

.kontak {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kontak-saya {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 0.5rem;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 3rem;
}

.icons i {
  font-size: 5rem;
  color: #fff;
  transition: all 0.2s ease;
}

.icons i:hover {
  color: #f8cc65;
}

.form {
  padding: 1rem 1rem 1rem 0.5rem;
}

.form-wrapper {
  background: #fff;
  border-radius: 15px;
}

.form-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-wrapper {
  padding: 0.5rem 0.75rem 0 0.75rem;
  width: 100%;
}

.input-wrapper:first-child {
  padding: 0.75rem 0.75rem 0 0.75rem;
}

.input-wrapper input,
.input-wrapper textarea {
  width: 100%;
  border: none;
  background: #f5f5f5;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.button-submit {
  align-self: flex-end;
  padding: 0 0.75rem 0.5rem 0.75rem;
}

.button-submit button {
  border: 3px #2d4059 solid;
  border-radius: 25px;
  width: 100px;
  font-size: 0.75rem;
  color: #2d4059;
  background: none;
  transition: all 0.2s ease;
}

.button-submit button:hover {
  background: #2d4059;
  color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/* Footer */

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0;
  transition: all 0.2s ease;
}

.back-to-top:hover {
  opacity: 0.8;
  background: #333;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Blog */

.blog {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 1rem 0;
}

.blog .title {
  text-align: center;
  padding: 1rem 0;
  background: #2d4059;
  border-radius: 15px 15px 0 0;
  color: #fff;
}

.blog .blog-text {
  padding: 2rem;
}

@media (max-width: 991px) {
  .header-flex-wrapper {
    display: block;
  }
  .header-image-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .header-image-wrapper img {
    width: 50%;
  }
}

@media (max-width: 960px) {
  .proyek-image-wrapper img {
    border-radius: 50px 50px 0 0;
    transform: translate(0);
  }
  .proyek-text-wrapper {
    width: 300px;
    border-radius: 0 0 50px 50px;
    margin: 0 !important;
  }
  .proyek {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .kontak {
    display: block;
  }

  .kontak-saya {
    align-items: center;
    padding-top: 1rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .icons i {
    font-size: 3rem;
    margin: 0 1rem;
  }
}
