<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Gabriela|Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Story 4</title>
  </head>
  <body>
    <div id="header"></div>
    <div class="sticky-top bg-white">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">RR</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a
                class="nav-item nav-link"
                href="{% url 'homepage:index' %}#header"
                >Beranda</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'homepage:index' %}#proyek"
                >Proyek</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'homepage:index' %}#kontak"
                >Kontak Saya</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'homepage:blog' %}#header"
                >Blog</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'jadwalKegiatan:jadwal' %}#header"
                >Jadwal</a
              >
            </div>
          </div>
        </nav>
      </div>
    </div>
    {% block content %} {% endblock %}
    <a href="#header" class="back-to-top">Tekan untuk kembali ke atas</a>

    <script
      src="https://kit.fontawesome.com/025b3a9369.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>
