{% extends "base.html" %} {% block content %} {% load static %}
<div class="lead-text">
  <h1>BLOG</h1>
  <div class="red-line"></div>
</div>

<div class="container">
  <div class="blog">
    <h1 class="title">Hidup saya di kuliah</h1>
    <p class="blog-text">
      Perkenalkan saya Reynard ingin menyampaikan keluh kesah saya selama
      berkuliah di Fasilkom UI. Disini kondisi yang saya rasakan cukup campur
      aduk, bagaimana tidak, disini banyak teman-teman yang asik serta wibu dan
      tugas yang rasanya membunuh saya pelan-pelan. Tak seperti biasanya, pada
      tanggal 24 September 2019, terdengar bahwa salah satu teman sebelah kos
      saya mendapatkan musibah. Namanya Delit. Beliau mengalami kecelakaan motor
      di salah satu jalan yang ada di Jakarta (disamarkan). Saya pun baru
      mendengar kabar tersebut satu hari setelah kejadian. Tak perlu pikir
      panjang, saya yang waktu itu lagi ada rapat suatu kepanitiaan langsung
      menjenguknya di RS UI. Diberi tahu kakaknya, ia dirawat di kamar
      301-Sayyid. Saya ketemu temen saya dulu, sampai jumpa nanti!
    </p>
  </div>
  <div class="blog">
    <h1 class="title">
      Tadi wudhu ada yang lucu!
    </h1>
    <p class="blog-text">
      Tadi ada yang lucu saat wudhu! Ada yang wudhu tapi lupa membuka topi. Saya
      dan wildan bingung kenapa tidak dibuka. Kita liatin terus tetapi tidak
      dibuka-buka. Ternyata dia hanya cuci muka. Sungguh ambigu bukan? hehe.
      Memang kalau lagi lelah, pikiran jadi kemana-mana. Saya sekarang lagi
      lelah karena PR KEBANYAKAN!!! Contohnya adalah PPW, PPM, ADBIS, SDA, dan
      ALIN. Contoh itu merupakan seluruh SKS saya semester ini. Artinya semua
      pelajaran saya ada tugas. yasudahlah mau diapakan lagi. Doakan saya ya
      semuanya!
    </p>
  </div>
  <div class="blog">
    <h1 class="title">
      Kak pewe ikut demo!?
    </h1>
    <p class="blog-text">
      Demo tugas maksud saya hehe. Sekarang saya akan menjelaskan mengenai tugas
      PPW yang saya berhasil kerjakan dalam kurun waktu satu hari. Kenapa saya
      kerjakan dalam waktu satu hari? Karena dari pertama kali tugas keluar
      selalu tidak ada waktu untuk mengerjakan. Sabtu minggu saya saja penuh
      dengan kegiatan Compfest dan PMB yang dimulai jam 6 pagi. Lelah sekali ya
      keliatannya! Tugas ini saya kerjakan senin dari jam 3 sore sampai jam 8
      malam dan saya lanjutkan lagi jam 12 siang besoknya. Desain berhasil saya
      bikin menarik, tapi menarik bagi saya saja. Semoga saya dapat nilai 4
      untuk semua sheet tugas PPW saya kalau tidak saya akan sedih. Sudah sampai
      situ saja sekarang. Ditunggu ya postingan selanjutnya!
    </p>
  </div>
</div>
{% endblock %}
