{% extends "base.html" %} {% block content %} {% load static %}
<div class="bg-gray">
  <div class="container">
    <div class="header-flex-wrapper">
      <div class="header-image-wrapper">
        <img src="{% static 'images/header-image.png' %}" alt="" />
      </div>
      <div class="text">
        <h1>Reynard Adha Ryanda</h1>
        <p class="subtitle">Mereka panggil saya Rey</p>
        <p>
          Halo! Saya adalah salah satu pejuang bangsa yang lahir pada tanggal
          <span class="red-font">16 Maret 2000</span>. Maksud saya pejuang
          bangsa adalah saya mahasiswa di
          <span class="red-font">Universitas Indonesia</span>, universitas yang
          sering dipanggil masyarakat luas sebagai universitas perjuangan. Saya
          sekarang sedang belajar
          <span class="red-font">Sistem Informasi</span> di
          <span class="red-font">Fakultas Ilmu</span>
          Komputer. Setelah liburan semester dua, saya lumayan
          <span class="red-font">tertarik dengan web development.</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="proyek"></div>
<div class="lead-text">
  <h1>PROYEK</h1>
  <div class="red-line"></div>
</div>

<section id="section-proyek">
  <div class="container">
    <div class="proyek">
      <div class="proyek-image-wrapper">
        <img src="{% static 'images/shn.png' %}" alt="" />
      </div>
      <div class="proyek-text-wrapper">
        <h1>Simposium Hukum Nasional 2019</h1>
        <p>
          Website SHN 2019 merupakan website registrasi dan berita untuk
          kepanitiaan SHN 2019. Proyek ini saya lakukan bersama dua teman saya
          menggunakan HTML, CSS dan JavaScript.
        </p>
        <a href="https://shn.law.ui.ac.id/" class="button-website">
          Lihat website
        </a>
      </div>
    </div>

    <div class="proyek">
      <div class="proyek-image-wrapper">
        <img src="{% static 'images/github-finder.png' %}" alt="" />
      </div>
      <div class="proyek-text-wrapper bg-blue">
        <h1 class="white-font">Github Profile Finder</h1>
        <p class="white-font">
          Website ini merupakan proyek personal untuk melatih skill Asynchronus
          JavaScript dan API call. Di sini saya menggunakan GitHub API untuk
          mendapat data setiap user GitHub dengan menulis nama mereka.
        </p>
        <a
          href="https://reynardryanda.github.io/github-profile-finder/"
          class="button-website"
        >
          Lihat website
        </a>
      </div>
    </div>

    <div class="proyek">
      <div class="proyek-image-wrapper">
        <img src="{% static 'images/article-news.png' %}" alt="" />
      </div>
      <div class="proyek-text-wrapper">
        <h1>News Grid</h1>
        <p>
          Proyek personal ini saya lakukan untuk melatih HTML dan CSS saya. Saya
          menggunakan grid system untuk membuat bagian-bagian tertentu. website
          ini juga memiliki beberapa page untuk mengasah pengetahuan saya
          mengenai HTML.
        </p>
        <a
          href="https://reynardryanda.github.io/news-grid/"
          class="button-website"
        >
          Lihat website
        </a>
      </div>
    </div>
  </div>
</section>

<div id="kontak"></div>
<div class="lead-text">
  <h1>KONTAK SAYA</h1>
  <div class="red-line"></div>
</div>

<div class="bg-blue">
  <div class="container kontak">
    <div class="kontak-saya">
      <div class="kontak-text-wrapper white-font">
        <h1>Mari kita ngobrol.</h1>
      </div>
      <div class="icons white-font">
        <a href="https://www.linkedin.com/in/reynardryanda/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://line.me/ti/p/c07R3UUOds"
          ><i class="fab fa-line"></i
        ></a>
        <a href="https://twitter.com/reynardryanda"
          ><i class="fab fa-twitter-square"></i
        ></a>
        <a href="https://www.facebook.com/reynard.ryanda"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://www.instagram.com/reynardryanda/"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="form">
      <div class="form-wrapper">
        <form>
          <div class="input-wrapper">
            <input type="text" placeholder="Nama" />
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="Email" />
          </div>
          <div class="input-wrapper">
            <textarea cols="30" rows="10" placeholder="Pesan"></textarea>
          </div>
          <div class="button-submit">
            <button type="submit" value="">Kirim</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
